<svg>
	<rect x="0" y="0" width="120" height="220" fill="url(#g-sunset)"/>
	<polygon points="0,200 10,100 110,100 120,200" fill="url(#g-brown2)" stroke="#975e25" stroke-width="2"/>
	<polygon points="12,100 12,70 35,70 40,100" fill="url(#g-brown2)"/>
	<polygon points="80,100 85,70 108,70 108,100" fill="url(#g-brown2)"/>
	<polygon points="43,100 50,50 70,50 77,100" fill="url(#g-brown2)"/>
	<polygon points="30,200 35,110 85,110 90,200" fill="url(#g-brown1)" stroke="#975e25" stroke-width="2"/>
	<polygon points="25,95 30,110 90,110 95,95" fill="url(#g-brown1)" stroke="#975e25" stroke-width="2"/>
	<polygon points="24,95 24,88 33,88 33,95" fill="#975e25"/>
	<polygon points="40,95 40,88 50,88 50,95" fill="#975e25"/>
	<polygon points="56,95 56,88 66,88 66,95" fill="#975e25"/>
	<polygon points="72,95 72,88 82,88 82,95" fill="#975e25"/>
	<polygon points="88,95 88,88 96,88 96,95" fill="#975e25"/>
	<polygon points="82,63 84,70 109,70 111,63" fill="#e9cda6" stroke="#cc995f" stroke-width="1"/>
	<polygon points="10,63 12,70 36,70 38,63" fill="#e9cda6" stroke="#cc995f" stroke-width="1"/>
	<polygon points="53,20 53,50 67,50 67,20" fill="#e9cda6" stroke="#cc995f" stroke-width="1"/>
	<polygon points="60,0 50,20 70,20" fill="#86473e"/>
	<polygon points="48,40 50,50 70,50 72,40" fill="#e9cda6" stroke="#cc995f" stroke-width="1"/>
	<path d="M50,200C40,90 80,90 70,200" fill="#312511" stroke="#4a3916" stroke-width="3"/>
	<defs>		
		<linearGradient id="g-brown1"
			   x1="0%" y1="0%"
			   x2="0%" y2="90%">
			<stop offset="0%" stop-color="#975e25" />
			<stop offset="90%" stop-color="#bc7d3a" />
		</linearGradient>
		<linearGradient id="g-brown2"
			   x1="0%" y1="0%"
			   x2="0%" y2="90%">
			<stop offset="0%" stop-color="#a26c25" />
			<stop offset="90%" stop-color="#d9b176" />
		</linearGradient>
		<linearGradient id="g-sunset"
			   x1="0%" y1="20%"
			   x2="0%" y2="70%">
			<stop offset="0%" stop-color="#300000" />
			<stop offset="70%" stop-color="#f51700" />
		</linearGradient>
</defs>
</svg>